$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors:
$color-text: #13182C;
$color-interactive: #2E66E5;
$color-white: #FFFFFF;

//secondary colors:
$color-placeholder-text: #5C667E;
$color-table-column-headers: #5C667E;
$color-borders: #BDC5D5;

//background colors:
$color-nav: #232940;
$color-cta-hover-background: #232940;
$color-table-background: #F7F8F9;
$color-page-background: #F7F8F9;
$color-cta-background: #F7F8F9;

$color-instock-label: #158463;
$color-outofstock-label: #C94515;
