//break-points:
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colors:
$color-white: #FFFFFF;
$color-light-grey:#767676;
$color-dark-grey: #484848;
$color-red:#D73B54;

$color-black: #222222;
$color-orange: #8F2A14;

